*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend', sans-serif ;
background: linear-gradient(140deg,#76A973 2%, #eaf2cd 100%);
display: flex;
justify-content: center;
align-items: center;
padding: 45px 20px;
}

form{
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0, 0.1);
}
form:hover{
    box-shadow: 0 12px 35px rgba(0,0,0,0.2);
}


h2{
    text-align: center;
    color:#7ebd01;
    margin-bottom: 25px;
    font-size: 1.7rem;
    font-family: 'Urbanist', sans-serif;
}

label{
    display: block;
    margin-bottom: 9px;
    font-weight: 500;
    color: #334;
}

input,textarea,select{
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 2px solid rgb(231, 229, 229);
    background-color: rgb(252, 252, 252);
    font-size: 1rem;
    transition: border-color 0.3s ease-in box-shadow 0.3s ease-in;
margin-bottom: 20px;
}

input:focus,
textarea:focus,
select:focus{
border-color: green;
outline: none;
box-shadow: 0 0 0 2px rgba(0, green, 0, 0.3);
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.group
{
    display: flex;
    gap: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.group input
{
    margin-right: 6px;
}

button
{
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    background-color: green;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in, transform 0.2s ease-in;

}

button:hover{
    background-color: #7ebd01;
    box-shadow: 0 5px 12px rgba(0, green, 0, 0.1);
}

button:active
{
    transform: scale(0.97);
}